@charset 'utf-8';

html {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.global-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    z-index: 10;
}

.local-nav {
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 11;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ddd;
    padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
}

.global-nav-links {
    justify-content: space-between;
}

.global-nav-links a {
    font-size: 2em;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.global-nav-links a::after {
    background-color: rgba(236,104,39, 1);
    bottom: -1px;
    content: ' ';
    display: block;
    height: 12px;
    width: 0%;
    left: 7px;
    bottom: 4px;
    opacity: 0.5;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.global-nav-links a:hover::after{
    width: 100%;
    opacity: 1;
  }

.local-nav-links a{
    font-size: 0.9em;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.local-nav-links a.logo .orange{
    font-style: normal;
    font-size: 0.7em;
    vertical-align: middle;
    display: inline-block;
    animation: infinitePoping 1s linear infinite 0s;
}
.local-nav-links a.logo:hover .orange{
    animation: infiniteRotate 1s linear infinite 0s;
}
@keyframes infinitePoping {
    0% { transform: translateY(0); }
    20% { transform: translateY(5px); }
    40% { transform: translateY(0); }
    100% { transform: translateY(5px); }
}
@keyframes infiniteRotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.local-nav-links a:not(.logo):hover{
    bottom: 2px;
}

.local-nav-links a:not(.logo) {
    margin-left: 1em;
}

.local-nav-links .logo {
    margin-right: auto;
    font-size: 2.8em;
    font-weight: bold;
}

.scroll-section {
    position: relative;
    padding-top: 50vh;
}

#scroll-section-0 h1 {
    position: relative;
	top: -5vh;
	z-index: 5;
	font-size: 4rem;
	text-align: center;
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35vh;
    height: 3em;
    font-size: 2.5em;
    opacity: 0;
}

.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.main-message small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1rem;
}

#scroll-section-2 .main-message {
    font-size: 3.5em;
}


.description {
    padding: 0 1rem;
    font-size: 1.2em;
    color: #888;
    word-break: break-all;
    max-width: 1000px;
    margin: 0 auto;
}

.description strong {
    float: left;
    color: #888;
    margin-right: 0.2em;
    font-size: 3rem;
    color: rgb(29, 29, 31);
}

.desc-message {
    font-weight: bold;
    width: 50%;
    opacity: 0;
}

.pin {
    width: 1px;
    height: 100px;
    background: black;
}
#scroll-section-2 .b {
    top: 10%;
    left: 40%;
}
#scroll-section-2 .c {
    top: 15%;
    left: 45%;
}
.mid-message {
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
    max-width: 1000px;
    margin: 0 auto;
}

.mid-message strong {
    color: rgb(29, 29, 31);
}

.canvas-caption {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
    max-width: 1000px;
    margin: 0 auto;
}

.footer {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	background: darkorange;
}

.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
}
.sticky-elem-canvas {
	top: 0;
    height: 100%;
}
.sticky-elem-canvas canvas {
	position: absolute;
	top: 50%;
	left: 50%;
}

.image-blend-canvas {
    border: 3px solid red;
    

}
#scroll-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1024px){
    #scroll-section-0 h1 {
        font-size: 8vw;
    }
    .main-message {
        font-size: 4vw;
    }
    .description {
        font-size: 2rem;
        
    }
    .description strong {
        font-size: 6rem;
    }

    #scroll-section-2 .main-message {
        font-size: 6vw;
    }
    .main-message small {
        font-size: 1.5vw;
    }
    .desc-message {
        width: 20%;
    }
    #scroll-section-2 .b {
        top: 22%;
        left: 53%;
    }
    #scroll-section-2 .c {
        top: 15%;
        left: 55%;
    }
    .mid-message {
        font-size: 4vw;
    }
    .canvas-caption {
        font-size: 2rem;
    }
}