@charset 'utf-8';

html {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.global-nav {
    height: 44px;
    padding: 0 1rem;
}

.local-nav {
    height: 52px;
    border-bottom: 1px solid #ddd;
    padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
}

.global-nav-links {
    justify-content: space-between;
}

.local-nav-links a{
    font-size: 0.8em;
}

.local-nav-links a:not(.logo) {
    margin-left: 2em;
}

.local-nav-links .logo {
    margin-right: auto;
    font-size: 1.8em;
    font-weight: bold;
}

.scroll-section {
    padding-top: 50vh;
}

#scroll-section-0 h1 {
    font-size: 4em;
    text-align: center;
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    font-size: 2.5em;
}

.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.main-message small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1rem;
}

#scroll-section-2 .main-message {
    font-size: 3.5em;
}


.description {
    padding: 0 1rem;
    font-size: 1.2em;
    color: #888;
    word-break: break-all;
    max-width: 1000px;
    margin: 0 auto;
}

.description strong {
    float: left;
    color: #888;
    margin-right: 0.2em;
    font-size: 3rem;
    color: rgb(29, 29, 31);
}

.desc-message {
    font-weight: bold;
    width: 50%;
}

.pin {
    width: 1px;
    height: 100px;
    background: black;
}

.mid-message {
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
    max-width: 1000px;
    margin: 0 auto;
}

.mid-message strong {
    color: rgb(29, 29, 31);
}

.canvas-caption {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
    max-width: 1000px;
    margin: 0 auto;
}

.footer {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	background: darkorange;
}

.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
}

@media (min-width: 1024px){
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .main-message {
        font-size: 4vw;
    }
    .description {
        font-size: 2rem;
        
    }
    .description strong {
        font-size: 6rem;
    }

    #scroll-section-2 .main-message {
        font-size: 6vw;
    }
    .main-message small {
        font-size: 1.5vw;
    }
    .desc-message {
        width: 20%;
    }
    .mid-message {
        font-size: 4vw;
    }
    .canvas-caption {
        font-size: 2rem;
    }
}